@import "tailwindcss";

:root {
  --primary-color:#0D2B1E;
  --secondary-color:#FAC742;
  --text-color:rgba(255,255,255,80%);
  --background:#F8F6F2;
}

@theme inline {
  --font-cairo:"Noto Sans Arabic",sans-serif;
  --color-primary:var(--primary-color);
  --color-secondary:var(--secondary-color);
  --color-text:var(--text-color);
}
.container{
  @apply max-w-[1280px] lg:px-16 px-8  m-auto
}


body{
  background-color: var(--background);
}
