@import "tailwindcss";

:root {
  --primary-color:#0D2B1E;
  --secondary-color:#FAC742;
  --text-color:#767775;
  --background:#F8F6F2;
}

@theme inline {
  --font-cairo:"Cairo",sans-serif;
  --color-primary:var(--primary-color);
  --color-secondary:var(--secondary-color);
  --color-text:var(--text-color);
}
.container{
  @apply max-w-[1280px] px-16 m-auto
}
body{
  background-color: var(--background);
}


